Package: php${PHP_VERSION}-v8js
Version: ${PHP_V8JS_PKG_VERSION}~${DISTRIB_CODENAME}-1
Architecture: amd64
Maintainer: anonymous
Installed-Size: ${DEB_CONTROL_INSTALLED_SIZE}
Depends:
Section: libs
Priority: optional
Homepage: https://github.com/phpv8/v8js
Description: V8 Javascript Engine for PHP -
 This PHP extension embeds the Google V8
 Javascript Engine.
