Package: ${DEB_CONTROL_PACKAGE_NAME}
Version: ${LIBV8_VERSION}~${DISTRIB_CODENAME}-1
Architecture: amd64
Maintainer: anonymous
Installed-Size: ${DEB_CONTROL_INSTALLED_SIZE}
Depends: ${DEB_CONTROL_DEPENDS_LIBC_NAME} (>= ${DEB_CONTROL_DEPENDS_LIBC_VERSION}), ${DEB_CONTROL_DEPENDS_LIBGCC_NAME} (>= ${DEB_CONTROL_DEPENDS_LIBGCC_VERSION}), ${DEB_CONTROL_DEPENDS_LIBSTDCPP_NAME} (>= ${DEB_CONTROL_DEPENDS_LIBSTDCPP_VERSION})
Section: libs
Priority: optional
Homepage: https://developers.google.com/v8/
Description: V8 JavaScript engine - runtime library
 V8 is a high performance JavaScript engine written in C++.
 It is used in the web browser Chromium.
 .
 This package provides the dynamic library for V8.
